@*<div class="col-lg-3 my-4">
        <div class="list-group">
            <a href="#" class="list-group-item active">Dashboard</a>
            <a href="@Url.Action("Index","Album")" class="list-group-item">Albums</a>
            <a href="@Url.Action("Index","Photo")" class="list-group-item">Photos</a>
            <a href="@Url.Action("Index","Photo")" class="list-group-item">Settings</a>
        </div>
    </div>*@

<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">photo gallery</a>
            <div id="close-sidebar">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                     alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">
                    Kevin
                    <strong>Llanes</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
            <div>
                <div class="input-group">
                    <input type="text" class="form-control search-menu" placeholder="Search...">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Blog",new { Area="Blog"})">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                        <span class="badge badge-pill badge-primary"></span>
                    </a>
                </li>
                <li>
                    <a href="#PageTab">
                        <i class="fa fa-camera-retro"></i>
                        <span>Pages</span>
                        <span class="badge badge-pill badge-primary"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "video")">
                        <i class="fa fa-viadeo-square"> </i>
                        <span>Posts</span>
                        <span class="badge badge-pill badge-primary"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LoadAlbumDetails","Album",new { Area="Album"})">
                        <i class="fa fa-folder-o"></i>
                        <span>Comments</span>
                        <span class="badge badge-pill badge-primary"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LoadAlbumDetails","Album",new { Area="Album"})">
                        <i class="fa fa-folder-o"></i>
                        <span>Images</span>
                        <span class="badge badge-pill badge-primary"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LoadAlbumDetails","Album",new { Area="Album"})">
                        <i class="fa fa-folder-o"></i>
                        <span>Widgets</span>
                        <span class="badge badge-pill badge-primary"></span>
                    </a>
                </li>
                <li class="header-menu">
                    <span>Settings</span>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span>Reports</span>
                        <span class="badge badge-pill badge-primary">Beta</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span>Users</span>
                        <span class="badge badge-pill badge-primary">Beta</span>
                    </a>
                </li>
                @*<li>
            <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Examples</span>
            </a>
        </li>*@
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        <a href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
        </a>
        <a href="@Url.Action("LogOff","Account",new { Area ="Account"})">
            <i class="fa fa-power-off"></i>
        </a>
    </div>
</nav>